@import "game-style.css";

body {
    margin: 0 auto;
    font-size: 14px;
    color: #fff;

    font-family: "Inknut Antiqua", serif;
    font-weight: 400;
    font-style: normal;

    background-color: #160F18;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

/* CONTAINER */
.container,
.historia_container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

/* HEADER */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 3;
}

.inner_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.google-link {
    color: #4285F4;
    font-size: clamp(16px, 4vw, 42px);

    text-decoration: none;
}

.nav {
    display: flex;
    gap: clamp(10px, 2vw, 30px);
}

.nav-toggle {
    display: none;
}

.nav_link {
    text-decoration: none;
    color: #fff;

    padding: clamp(0px, 0.8vw, 7px) clamp(15px, 4vw, 58px);
    background-color: rgba(169, 161, 168, .7);
    border-radius: 50px;
}

.nav_link:hover {
    transform: scale(1.05);
}

.nav_link.active {
    border: 2px solid rgba(210, 125, 53, .7);
    display: inline-flex;
    align-items: center;
    gap: 8px; 
}

.nav_link.active::after {
    content: "✔";
    color: #D27D35; 
    font-size: 14px;
    font-weight: bold;
}

.nav_link.play {
    background-color: #D27D35;
}

/* INTRO */
.intro {
    width: 100%;
    aspect-ratio: 16 / 9;

    background: url(../img/Intro-Image.png) center, no-repeat;
    background-size: contain;

    position: relative;
}

.intro_title {
    font-size: clamp(24px, 8vw, 72px);
    font-weight: 400;
    text-align: center;
    
    background-image: linear-gradient(to bottom, #FFC18C, #D27E35);
    background-clip: text;
    color: transparent;

    filter: drop-shadow(2px 2px 0 black);

    width: 100%;
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translateX(-50%);
}

.intro-separator {
    width: 100%;
    height: auto;

    position: absolute;
    left: 0;
    bottom: -11.1%;

    z-index: 2;
}

/* SECTION */
.section {
    margin: 100px 0;
}

.section_title {
    font-size: clamp(20px, 2vw, 24px);
    font-weight: 400;
    text-align: center;
}

/* SECTION-GHOST */
.about {
    margin-top: clamp(25px, 6.5vw, 100px);

    display: flex;
    justify-content: center;
    align-items: center;
    
    position: relative;
}

.ghost_box {
    margin: 0 auto;

    width: 100%;
    max-width: 1345px;

    position: relative;
}

.ghost_svg {
    width: 100%;
    height: auto;

    display: block;
}

.ghost_content {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    z-index: 2;
}

.ghost_text_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
    color: #fff;
}

.momo_img {
    width: clamp(250px, 25vw, 370px);
    height: auto;
}

.text_block {
    max-width: 450px;
}

.about_title {
    margin-bottom: 30px;
    text-align: left;
}

.mobile_box {
    display: none;
}

/* SECTION-MOMO */
.cat_gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    gap: 60px;

    margin-top: 30px;
}

.gallery_img {
    position: relative;
}

.gallery_img:not(:last-child) img:not(.shadow-img) {
    max-width: clamp(160px, 20vw, 240px);
    height: auto;
    display: block;
}

/* Остання картинка (Momo-5) */
.gallery_img:last-child img:not(.shadow-img) {
    max-width: clamp(240px, 25vw, 305px);
    height: auto;
    display: block;
}

.shadow-img {
    position: absolute;
    bottom: -10px;
    right: -10px;

    filter: blur(10px);
    z-index: -1;
}

/* SECTION-HISTORIA */
.section_historia {
    background-color: #4F4150;
    border-radius: 50px;

    display: flex;
    align-items: stretch;

    position: relative;
    overflow: hidden;

    box-shadow: 10px 10px 10px rgba(169, 161, 168, .25);
}

.img-web {
    position: absolute;
    bottom: 0;
    right: 0;
}

.img-historia {
    flex: 1; 
    width: auto;
    max-width: clamp(420px, 35vw, 508px);
    object-fit: cover;
    display: block;
}

.historia_text {
    width: 100%;
    padding: clamp(30px, 4vw, 50px);
    text-align: justify;

    z-index: 1;
}

/* FOOTER */
.footer {
    border-top: 3px solid #A8A1A8;
}

.inner_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social {
    display: flex;
    gap: clamp(20px, 2vw, 30px);;
    align-items: center;
}

@media (max-width: 980px) {
    .historia_container {
        padding: 0;
    }

    .section_historia {
        flex-direction: column-reverse;

        border-radius: 0;
        box-shadow: none;
    }

    .img-web {
        top: 0;
        transform: scaleY(-1);
    }

    .img-historia {
        width: 100%;
        max-width: 100%;
        flex: none;

        height: clamp(395px, 30vw, 550px);
    }
}

@media (max-width: 770px) {
    .header {
        position: relative;
    }

    .inner_header {
        justify-content: center;
    }

    .nav {
        display: none;
    }

    .nav-toggle {
        display: block;
        position: relative;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;

        z-index: 3;
    }
}

@media (max-width: 750px) {
    .about {
        display: block;
    }

    .about_title {
        text-align: center;

        width: 70%;
        margin: 0 auto;
    }

    .about_text {
        display: none;
        padding: 0 15px;
        text-align: justify;
    }

    .momo_img {
        display: none;
    }

    .mobile_box,
    .mobile_box .momo_img, 
    .mobile_box .about_text {
        display: block;
    }

    .mobile_box {
        position: relative;
        margin: 0 auto;
    }

    .mobile_box .momo_img {
        width: 80%;
        filter: blur(4px);

        margin: 0 auto;
    }

    .mobile_box .about_text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 100%;
    }
}

@media (max-width: 430px) {
    .nav_link {
        line-height: -3;
    }

    .inner_footer {
        flex-direction: column;
    }
}